In [26]:
concat

          buyer      seller            symbol   currency  price  quantity
timestamp
0                SUBMISSION              KELP  SEASHELLS   2028         1
0                SUBMISSION              KELP  SEASHELLS   2028        13
0                SUBMISSION              KELP  SEASHELLS   2028         1
0                SUBMISSION  RAINFOREST_RESIN  SEASHELLS  10002         1
0                SUBMISSION  RAINFOREST_RESIN  SEASHELLS  10001         1
...         ...         ...               ...        ...    ...       ...
199400                                   KELP  SEASHELLS   2021         3
199500                       RAINFOREST_RESIN  SEASHELLS  10002         1
199600                                   KELP  SEASHELLS   2023         1
199600                                   KELP  SEASHELLS   2023         1
199600                       RAINFOREST_RESIN  SEASHELLS  10002         2

[3638 rows x 6 columns]

In [31]:
import json
from datamodel import Trade
import util
import pandas as pd

sblogs, bk, mkt1 = util._parse_data('vwap_d1.log')
_, _, mkt2 = util._parse_data('vwap_d2.log')
_, _, mkt3 = util._parse_data('vwap_d3.log')

concat = pd.concat([mkt1, mkt2, mkt3], axis=0)

output = ""
output += "Sandbox logs:\n"
sblogs = [{
                    "sandboxLog": row.sandboxLog,
                    "lambdaLog": row.lambdaLog,
                    "timestamp": row.Index,
                } for row in sblogs.itertuples()]
for i in sblogs:
    output += json.dumps(i, indent=2) + "\n"

output += "\n\n\n\nActivities log:\n"
market_data_csv = bk.to_csv(sep=";")
market_data_csv = market_data_csv.replace("\r\n", "\n")
output += market_data_csv

output += "\n\n\n\nTrade History:\n"
trades = [{
            "timestamp": trade.Index,
            "buyer": trade.buyer,
            "seller": trade.seller,
            "symbol": trade.symbol,
            "currency": "SEASHELLS",
            "price": trade.price,
            "quantity": trade.quantity,
        } for trade in concat.itertuples()]
output += json.dumps(trades, indent=2)

output

with open("data/combinedvwap.log", "w") as file:
    file.write(output)

In [19]:
bk.head()

,day,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss
timestamp,,,,,,,,,,,,,,,,
0,-1,RAINFOREST_RESIN,10002,1,9996.0,2.0,9995.0,29.0,10004,2,10005.0,29.0,NaN,NaN,10003.0,0.000000
0,-1,KELP,2028,1,2026.0,2.0,2025.0,29.0,2029,31,NaN,NaN,NaN,NaN,2028.5,0.000000
100,-1,KELP,2025,24,NaN,NaN,NaN,NaN,2028,2,2029.0,22.0,NaN,NaN,2026.5,17.361328
100,-1,RAINFOREST_RESIN,9996,2,9995.0,22.0,NaN,NaN,10004,2,10005.0,22.0,NaN,NaN,10000.0,3.000000
200,-1,RAINFOREST_RESIN,9995,20,NaN,NaN,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10000.0,3.000000